<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="style.css" rel="stylesheet" />
  </head>
  <body>
    <div id="myDIV" class="header">
      <h2>To Do List</h2>
      <input type="text" id="myInput" placeholder="Title..." />
      <span onclick="newElement()" class="addBtn">Add</span>
    </div>

    <ul id="theList">
      <li>Manger raclette</li>
      <li class="checked">Payer une bière a Jeff Bezos</li>
      <li>Dunker sur LBJ</li>
      <li>Acheter la PS5</li>
    </ul>

    <button class="returnButton">
      <a href="../../index.html" class="returnLink">TP-JS</a>
    </button>
    <script src="todo.js"></script>
  </body>
</html>
