<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Resume online developer Web : creation and development of websites and web applications. HTML5, CSS3, JQuery, Bootstrap, PHP, VueJS, ... " />
    <meta name="Keywords" content="Yoann Pariset, developer, developer full-stack, Resume, CV, website, application, application web, html5, css3, jquery, php, vuejs" />
    <meta name="robots" content="index,follow,all" />
    <meta name="author" content="Yoann Pariset" />
    <meta name="google-site-verification" content="" />
    <link rel="icon" href="assets/logo.png" />
    <link href="../../assets/styles.css" rel="stylesheet" />
    <title>Resume Pariset Yoann - junior full-stack developer</title>
    <link rel="stylesheet" href="style.css" />
</head>

<body>
    <!-- start header -->
    <header class="header">
        <section class="intro">
            <aside class="animation-bar">
                <p class="align">p</p>
            </aside>

        </section>

        <nav class="navbar">
            <div class="container">
                <h2>Res<span>ume</span></h2>
                <ul class="mainMenu">
                </ul>
            </div>
        </nav>
    </header>
    <!-- end header -->

    <main>
        <!-- start features -->
        <section class="features" id="features">


        </section>
        <!-- end features -->

        <!-- start about -->
        <section class="aboutme" id="aboutme">
            <div class="container">
                <div class="image">
                    <img src="assets/profile.jpg" alt="image-Profile" />
                </div>
                <article class="info">
                    <h2>About me</h2>
                </article>
            </div>
        </section>
        <!-- end about -->

        <!-- start my skills -->
        <section class="myskills" id="myskills">
            <div class="container">
                <article class="skills">
                    <h2>My skills</h2>
                    <p>
                        I am able to work with different technologies such as Swift, JAVA, HTML5 & CSS3, JavaScript, PHP, as well as CMS like Wordpress or Mobirise. I am also proficient in using frameworks like Vue.js.
                    </p>
                    <p>
                        Self-taught at heart, I easily learn new technologies and constantly set new challenges to myself.
                    </p>
                    <button class="mybutton" id="button1">Contact me</button>
                </article>
                <article class="progress">
                    <div class="tech">
                        <h3>Swift</h3>
                        <div>
                            <span style="width: 65%">65% &nbsp;</span>
                        </div>
                    </div>
                    <div class="tech">
                        <h3>JAVA</h3>
                        <div>
                            <span style="width: 60%">60% &nbsp;</span>
                        </div>
                    </div>
                    <div class="tech">
                        <h3>HTML / CSS</h3>
                        <div>
                            <span style="width: 45%">45% &nbsp;</span>
                        </div>
                    </div>
                    <div class="tech">
                        <h3>PHP / MySQL</h3>
                        <div>
                            <span style="width: 20%">20% &nbsp;</span>
                        </div>
                    </div>
                </article>
            </div>
        </section>

        <!-- end my skills -->

        <!-- start resume -->
        <section class="resume" id="resume">
            <h2>Resume</h2>
            <p>
                Feel free to download my resume in PDF format. <br /> Please don't hesitate to send me your feedback in order for me to get better moving forward.
            </p>
            <a href="assets/CV-PARISET-YOANN.pdf" download target="_blank"></a>
            <button class="mybutton">Download</button>
        </section>
        <!-- end resume -->

        <!-- start my education -->
        <section class="education" id="education">
            <div class="container">
                <article class="main">
                    <h2>My Education</h2>
                    <p>
                        After obtaining my secondary school diploma in Telecoms & Networks, I've decided to move to Australia in order to follow a 6 months intensive English training. <br /> I ended up staying 4 more months which was one of the best experience
                        of my life.
                    </p>
                    <p>
                        Back to reality, I made the decision to apply to the BTEC Higher National Diploma in Tourism Business.
                    </p>
                    <p>
                        It turned out to quickly realize that this job was not the right fit for me, especially when I found myself spending all my time coding during class. <br /> So I quited the training and turned my intership program into a full-time
                        job with TUI organization, the world leading company in tourism.
                    </p>
                    <p>
                        It was a blessing in disguise, I had finally found my way and what I wanted to do moving forward.
                    </p>
                    <p>
                        Once my contract ended, I decided to become self-taught and train myself to learn different computer languages such as Swift.
                    </p>
                </article>
                <article class="exp">
                    <div class="certificate">
                        <h3>Business and tourism travel advice</h3>
                        <span><strong
                  ><a
                    href="https://www.aftral.com/ecoles/ecole-professionnel-tourisme"
                    target="_blank"
                  >
                    EPT - Paris</a
                  ></strong
                >
                (75011) <br />
                2018 - 2019</span
              >
              <span>1 Year</span>
                        <hr />
                        <p>
                            To train for jobs in: <br /> ● Travel agencies <br /> ● Business or reservation platforms <br /> ● Tour operators
                        </p>
                    </div>
                    <div class="certificate">
                        <h3>Intensive General English</h3>
                        <span><strong
                  ><a href="https://www.elc.edu.au/" target="_blank">
                    English Language Company - Sydney</a
                  ></strong
                >
                (Australie) <br />
                2017-2018</span
              >
              <span>1 Year</span>
                        <hr />
                        <p>
                            Intensive lessons with great teachers about: <br /> ● Speaking <br /> ● Writting <br /> ● Understanding
                        </p>
                        <br />
                    </div>
                </article>
                <div class="clearfix"></div>
                <hr class="separator" />
                <article class="main">
                    <h2>Work Experience</h2>
                    <p>
                        I spent 3 years of apprenticeship at Chateaud'eau during my secondary school diploma in Telecoms & Networks. <br /> I mostly had to solve IT problems related to the human resources department, not customers. I also learned how
                        to install and configure electronic systems such as network switches, security alarms, audiovisual or multimedia equipment.
                    </p>
                    <p>
                        It was a very good experience and allowed me to discover and integrate myself into the 'world of work'.
                    </p>
                    <p>
                        After spending 1 year at TUI, I decided to start my own business in collaboration with a friend in order to develop and market Web-Planning in France, a web planning and project management application.
                    </p>
                    <p>
                        As part of this achievement was to develop a native iOS application with Swift that optimizes productivity and promotes employees collaboration in time management, resources and projects.
                    </p>
                    <p>
                        In order to complete this personal project, I have decided to join an intensive training within the Coding Factory in order to deepen my knowledge and to get a major as an Analyst Developer of software applications.
                    </p>
                </article>
                <article class="exp">
                    <div class="certificate">
                        <h3>Self-Employed | Commercial & IT Service Provider</h3>
                        <span><strong
                  ><a href="https://web-planning.fr" target="_blank">
                    Web-Planning</a
                  ></strong
                >
                <br />
                2019 - Now</span
              >
              <span>Since 1 Year</span>
                        <hr />
                        <p>
                            Responsibility to create and/or manage various IT supports:
                            <br /> ● Website <br /> ● Commercial brochure <br /> ● Helpdesk solution <br />
                        </p>
                    </div>
                    <div class="certificate">
                        <h3>Helpdesk Technician</h3>
                        <span><strong
                  ><a href="https://www.chateaudeau.com/" target="_blank">
                    CHATEAUD'EAU</a
                  ></strong
                >
                <br />
                2014 - 2017</span
              >
              <span>3 Years</span>
                        <hr />
                        <p>
                            ● Telephone and physical intervention <br /> ● Diagnose breakdowns <br /> ● Guide the user and resolve the incident
                        </p>
                    </div>
                </article>
            </div>
        </section>
        <!-- end my education -->

        <hr class="separator" />

        <!-- start portofolio -->
        <section class="portoflio" id="portoflio">
            <h2>Portofolio</h2>
            <p>
                “You can do anything you set your mind to.”<br />- Benjamin Franklin
            </p>

            <div class="work">
                <div>
                    <a href="https://github.com/YPariset/My-supermarket" target="_blank"><img src="assets/project-1.png" alt="myProject-1" /></a>
                </div>
                <div>
                    <a href="https://github.com/YPariset/javaadventure-Parizoo" target="_blank"><img src="assets/project-2.png" alt="myProject-2" /></a>
                </div>
                <div>
                    <a href="https://github.com/YPariset/Crazy4-Library" target="_blank"><img src="assets/project-3.png" alt="myProject-2" /></a>
                </div>
            </div>
        </section>
        <!-- end portofolio -->

        <!-- start contact me -->
        <section class="contact" id="contact">
            <div class="info">
                <h2>Contact me</h2>
                <p>Drop me a message and I'll be glad to answer.</p>
                <address>
            <p>
              <strong>Address:</strong> 09 rue Maitre Renault,<br />
              Fontenay-en-parisis, France<br />
              95190
            </p>
            <p>
              <strong>Email:</strong> yoann.pariset@edu.itescia.fr<br />
              <strong>Phone:</strong> 06.69.30.81.83
            </p>
          </address>
            </div>
            <form class="form">
                <label>Name *</label>
                <input type="text" />
                <label>Email Adress *</label>
                <input type="text" />
                <label>Message *</label>
                <textarea></textarea>
                <input type="submit" value="CONTACT ME" />
            </form>
        </section>
        <!-- end contact me -->
    </main>

    <!-- start footer -->
    <footer>
        <div class="footer">
            <aside>Copyright &copy; created with love and passion by Parizoo</aside>
            <ul>
                <li>
                    <a href="https://www.facebook.com/yoann.pariset.7/" target="_blank"><img src="https://i.imgur.com/k2br2Gt.png" alt="logo-facebook" /></a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/yoann-pariset-6a4520166" target="_blank"><img src="https://i.imgur.com/qwSOYp2.png" alt="logo-Linkedin" /></a>
                </li>
                <li>
                    <a href="mailto:yoann.pariset@edu.itescia.fr" target="_blank"><img src="https://i.imgur.com/V4GD4HN.png" alt="logo-gmail" /></a>
                </li>
            </ul>
        </div>
    </footer>
    <!-- end footer -->

    <!-- Some extra with JS (sorry Valery) -->
    <script src="cv.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>
        $(".scrollToContact").click(function() {
            $("html,body").animate({
                    scrollTop: $(".contact").offset().top,
                },
                "speed"
            );
        });

        $(".scrollToPortoflio").click(function() {
            $("html,body").animate({
                    scrollTop: $(".portoflio").offset().top,
                },
                "speed"
            );
        });

        $(".scrollToExperience").click(function() {
            $("html,body").animate({
                    scrollTop: $(".education").offset().top,
                },
                "speed"
            );
        });

        $(".scrollToResume").click(function() {
            $("html,body").animate({
                    scrollTop: $(".resume").offset().top,
                },
                "speed"
            );
        });

        $(".scrollToSkills").click(function() {
            $("html,body").animate({
                    scrollTop: $(".skills").offset().top,
                },
                "speed"
            );
        });

        $(".scrollToAbout").click(function() {
            $("html,body").animate({
                    scrollTop: $(".aboutme").offset().top,
                },
                "speed"
            );
        });

        $("#button1").click(function() {
            $("html,body").animate({
                    scrollTop: $(".contact").offset().top,
                },
                "speed"
            );
        });
    </script>
    <!-- end extra with JS -->
</body>

</html>